<form action="/secure/login" method="post">
    {{>loginDetails}}
    <button type="submit" class="btn btn-warning btn-lg">{{t "button.login"}}</button>
</form>
<a class="button btn-success" href="/auth/facebook">Login with Facebook</a> 