<nav ng-controller="NavCtrl" id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">amatika's</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<!--       <ul class="nav navbar-nav">
						<li>
									<a href="#/">About</a>
						</li>
						<li>
									<a href="#/">Services</a>
						</li>
						<li>
									<a ng-href="#/contact">Contact</a>
						</li>
						<li id="signup" ng-show="!username || username.length == 0">
									<a href="/signup">Sign up</a>
						</li>
						<li id="login" ng-show="!username || username.length == 0">
									<a href="/login">Login</a>
						</li>
						
			</ul>
			-->      <!-- <a ng-href="#/cart">
				<div id="cart_summary" class="pull-right col-sm-2">
					<ngcart-summary></ngcart-summary>
				</div>
			</a>
			<div class="row">
				<div ng-show="username.length > 0">
					<a class="pull-right" id="logout" ng-click="logout()">Logout</a>
					<span class="pull-right">&nbsp;|&nbsp;</span>
					<div class="pull-right">{{ username }}</div>
				</div>
			</div> -->
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>