<link rel="stylesheet" href="/progressbar.css">

<div id="progressBar">
	<input id="phase" type="hidden" value="{{phase}}" />
	<ul>
		<li id="address"><span>{{t "address"}}</span></li>
		<li id="shipping"><span>{{t "shipping method"}}</span></li>
		<li id="summary"><span>{{t "order summary"}}</span></li>
	</ul>
</div>

<script src="/jquery-2.1.0.min/index.js" ></script>
<script src="/progressBar.js" ></script>