<link rel="stylesheet" href="/shippingDetails.css">
<div id="shippingMethod">
	<h1>{{ t "shipping method" }}</h1>
	<div id="shippingMethods">
		<div class="row">
			<input type="radio" name="shippingMethod" value="1">
			<span>Smartposti</span>
		</div>
		<div class="row">
			<input type="radio" name="shippingMethod" value="2">
			<span>Posti</span>
		</div>
		<div class="row">
			<input type="radio" name="shippingMethod" value="3">
			<span>Matkahuolto</span>
		</div>
	</div>
</div>
<script src="/shippingDetails.js"></script>
