<div class="form-group">
	<label>{{t "email"}}</label>
	<input type="text" class="form-control" name="email">
</div>
<div class="form-group">
	<label>{{t "password"}}</label>
	<input type="password" class="form-control" name="password">
</div>