<!-- views/signup.ejs -->
<!doctype html>
<html>
    <script>localStorage.clear();</script>
    <head>
        <title>Order complete</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
        body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span>Thank you for your order!</h1>
                <hr>
                <span><a href="/">Continue shopping</a>
            </div>
        </div>
    </body>
</html>ยง