@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antti\/code\/meshop\/server\/styles\/progressbar\.scss}line{font-family:\000033}}
ul {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antti\/code\/meshop\/server\/styles\/progressbar\.scss}line{font-family:\000037}}
ul li {
  margin: 0 1px 0 1px;
  border: 2px solid black;
  padding: 0px;
  display: block;
  list-style: none;
  float: left;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antti\/code\/meshop\/server\/styles\/progressbar\.scss}line{font-family:\0000323}}
ul li span {
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 35px 10px 35px;
  text-decoration: inherit;
  color: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antti\/code\/meshop\/server\/styles\/progressbar\.scss}line{font-family:\0000338}}
.activeProgressBar {
  background-color: #107BED;
  font-weight: bold;
}
