#aboutme {
	
	@media (max-width: 1080px) { 
		#pic-me { display: none; }
	}

	@media (min-width: 1081px) { 
		#pic-me {
			background-image: url('../images/me_orig.jpg');
			height: 535px;
			width: auto;
		}

		#pic-me:hover {
			background-image: url('../images/me2.jpg');
		}
	}

	.jumbotron {
		-webkit-box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.81);
		-moz-box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.81);
		box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.81);
	}


	

	#jumbo-aboutme {
		margin-top: 50px;
	}

	#jumbo-trivia {
		margin-top: 15px;
	}
	#professional_history {
		margin-top: 25px;
		ul {
			margin-top: 50px;
			li {
				margin-bottom: 25px;
			}
		}
	}

	#ul_professional_history {
		padding-left: 0;
	}

	.jobhistory-info {
		position:relative;
	 	// width: 100%;
	 	ul {
	 		padding-bottom: 25px;
 			// padding-right: 100px;
	 	}
	}
}