@import 'variables';

#shippingMethod {
	
	margin-bottom: 25px;

	#shippingMethods {
		padding: 10px;
		input {
			clear: both;
		}
	}
	.row {
		padding: 5px;
	}
	.row:hover {
		border: 2px solid $navbarColor;
		cursor: pointer;
	}

}