
<!-- Navigation -->
<nav ng-controller="NavCtrl" id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <span id="home-icon" class="mega-octicon octicon-home hvr-grow"></span>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><h4>Niinalla on asiaa</h4></li>
        <!-- <li class="hvr-underline-from-center">
          <a href="#/cv">{{ 'aboutMe' | translate }}</a>
        </li>
        <li class="hvr-underline-from-center">
          <a href="#/blog">{{ 'blog' | translate }}</a>
        </li>
        <li class="hvr-underline-from-center">
          <a ng-href="#/contact">{{'contact' | translate}}</a>
        </li> -->
      </ul>      
      <div class="row">
        <div ng-show="username.length > 0">
        
          <a class="pull-right" id="logout" href="/logout">{{'logout' | translate}}</a>
          <span class="pull-right">&nbsp;|&nbsp;</span>
          <div class="pull-right"><a href="/secure/account">{{'account' | translate}}</a></div>
          <div class="pull-right">{{ username }}</div>
        </div>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
 <!-- hides mobile menu when clicked  -->
<script>$('.navbar-collapse a').click(function(){

$('.collapse.in').removeClass('in').css('height', '0');
window.scrollTo(0, 0);
});</script>
